.mySwiper {
  height: 170px;
}

.swiper-section {
  padding-bottom: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--login-bg-color);
}
img {
  object-fit: cover;
}
