:root {
  font-size: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --bg-color: #f5f5f5;
  --main-bg-color: #ffffff;
  --login-bg-color: #766eeb;
  --main-color: #8980ff;
  --sub-color: #d0ccff;
  --text-color: #000000;
  --sub-text-color: #767676;
  --border-color: #dbdbdb;
  --profile-border-color: #bfbfbf;
  --chat-bg-color: #f2f2f2;
  --chat-border-color: #c4c4c4;
  --search-bg-color: #f4f4ff;
  --alert-color: #eb5757;
}

/* 텍스트가 길어질 경우 말 줄임 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* 스크롤바 가리기 */
.hidden-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
